@import '../../../assets/helpers/index.scss';

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 40px;
  min-height: 100vh;
}

.menu {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 100%;
}
